<div class="main-container">
  <img class="img-logo" src="../../../assets/img/Logo.png" alt="logo">
  <div class="login-container">
    <h2><span class="color-atention">Bem</span> vindo novamente!</h2>
    <h1>Sign In</h1>
    <img class="img-coin1" src="../../../assets/img/coin-1.png" alt="img-coin1">
    <img class="img-coin2" src="../../../assets/img/coin-2.png" alt="img-coin2">
    <img class="img-coin3" src="../../../assets/img/coin-2.png" alt="img-coin3">
    <form class="login-form" (ngSubmit)="onLogin()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          required
          [(ngModel)]="email"
          name="email"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          required
          [(ngModel)]="password"
          name="password"
        />
      </mat-form-field>

      <button class="btn-login" type="submit" mat-raised-button color="accent">
        Login
      </button>
    </form>
  </div>
</div>
